@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  /* Customização da barra de rolagem para WebKit browsers */
::-webkit-scrollbar {
  width: 3px; /* Largura da barra de rolagem */
  border-radius: 6px;
  opacity: 0.45;
 /* Bordas arredondadas */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da barra de rolagem */
  border-radius: 6px;
  opacity: 0.45;
 /* Bordas arredondadas para a trilha */
}

::-webkit-scrollbar-thumb {
  background: #00FF00;
  opacity: 0.45;
  /* Cor da parte rolável da barra de rolagem */
  border-radius: 6px; /* Bordas arredondadas para o "thumb" */
}

::-webkit-scrollbar-thumb:hover {
  background: #00CC00;
  opacity: 0.45;
 /* Cor quando o mouse está sobre o "thumb" */
}

}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
